services:
  back-end:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./back-end:/app
    environment:
      - PYTHONUNBUFFERED=1
    command: uvicorn app:app --reload --host 0.0.0.0 --port 8000

  front-end:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ./front-end:/app
      - /app/node_modules
    command: npm run start -- --host 0.0.0.0
