<section class="borough-map-section">
  <div class="map-container">
    <h2 class="map-title">The Great Shift</h2>
    <p class="map-subtitle">Watch how London's housing prices have transformed over three decades</p>
    
    <div class="map-visualization">
      <iframe 
        title="test" 
        width="1500" 
        height="800" 
        src="https://app.powerbi.com/reportEmbed?reportId=6168a062-28ae-47da-8520-4cbbbe468f8e&autoAuth=true&ctid=f07b40ae-b60b-4e0f-bebe-afb42fc4dc69" 
        frameborder="0" 
        allowFullScreen="true">
      </iframe>
    </div>

    </div>
</section>
