.main {
    margin-top: 25vh;
    margin-left: 60vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55vh;
    width: 70vh;
    background-color: #8bbbeeff;
}
select, button {
    padding: 8px 12px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover, input::hover {
    background-color: #0056b3;
}
.error{
    color: red;
    font-weight: bold;
}
.success{
    color: green;
    font-weight: bold;
}
.warning{
    color: #a74a14ff;
    font-weight: bold;
}
